streamlit==1.28.1

paddleocr==2.7.0.3
paddlepaddle>=2.6.1

opencv-python-headless

Pillow
PyMuPDF
python-docx
reportlab

numpy
pandas

requests

spacy
language-tool-python

fasttext

python-dotenv
pydantic

textblob
nltk
